.parallax {
    background-image: url("../IMGS/jumbotron.jpg");
    min-height: 980px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}



/* CSS for index.html */


#second {
    /* background-image: url("../IMGS/second-bg-home.jpg"); */

    min-height: 960px;
 


}

#third {
    /* background-image: url("../IMGS/second-bg-home.jpg"); */

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

#bg-kata{
background-image: url(../IMGS/history-katana.png);
background-size: cover;
min-height: 450px;
background-position: center;
}

.bg-lgray{
    background-color: #ECEBEB;
}

#quotes{
    background-color: #ECEBEB;
   
 
}


.cards {
    transition: all 0.2s ease;
    cursor: pointer
}

.cards:hover {
    transform: scale(1.07)
}



/* CSS for history.html */

#history{
       background-image: url("../IMGS/katana-bg-history.jpg");

       min-height: 950px;
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
}






/* CSS for contact.html */

#contact{
    
    min-height: 980px;
    background-image: url("../IMGS/wave-bottm.svg");
    background-color: rgb(236, 235, 235);
    background-position: bottom;
    background-repeat: no-repeat;
    
}




/* CSS for pricing.html */
#pricing{
    /* background-image: url("../IMGS/second-bg-home.jpg"); */

    min-height: 960px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#price{
    
    min-height: 980px;
    background-image: url("../IMGS/wave.svg");
    background-color: rgb(236, 235, 235);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
}
